$light-orange: #fea735;
$dark-orange: #f37235;

$light-blue: #00c3ff;
$dark-blue: #0077ff;

$white: #ffffff;
$beige: #fcf5ef;

$light-grey: #e5e5e5;
$dark-grey: #aaaaaa;

$dark: #333333;

$s-grade: #fac77c;
$a-grade: #fa7c92;
$b-grade: #7c97fa;
$c-grade: #52b46e;
$d-grade: #152e87;
$e-grade: #875915;
$f-grade: #333333;
$no-grade: #c4c4c4;

$coin: #d9b600;
$people: #00c3ff;
$district: #555555;
$bookmark-true: #ff6161;
$bookmark-false: #aaaaaa;

$sora: "Sora", sans-serif;
$manrope: "Manrope", sans-serif;
$nunito: "Nunito", sans-serif;

@mixin anchor-text {
  font-family: $sora;
  font-size: 13px;
  text-decoration: none;
  color: $white;
  margin-left: 5px;
  margin-right: 5px;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin heading {
  font: $sora;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3px;
  color: $dark-blue;
}

@mixin dot-span {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-block;
  color: $white;
  font-family: $nunito;
  font-size: 15px;
  -webkit-text-stroke: 2px $white;
  -webkit-font-smoothing: antialiased;
}

@mixin card-hover {
  border-right: 2px solid $dark-blue;
  border-bottom: 3px solid $dark-blue;
  transform: translateX(-6px);
  transform: translateY(-6px);
  transform: rotate(-3deg);
  filter: drop-shadow(0px 0px 7px $light-grey);
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

// Member Profile Page
@mixin memberProfileBg($theme: $beige) {
  background-color: $theme;
  width: 90vw;
  height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@mixin memberProfileBottom($theme: $dark-orange) {
  background-color: $theme;
  width: 90vw;
  height: 10vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@mixin btn-white($theme: $dark-orange) {
  background: $white;
  color: $theme;
  font-family: $nunito;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: 2px solid $theme;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  padding-left: 35px;
  padding-right: 35px;
}

@mixin btn-color($theme: $dark-orange) {
  background: $theme;
  color: $white;
  font-family: $nunito;
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px solid $theme;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 35px;
  padding-right: 35px;
}

@mixin btn-color-hover($theme: $light-orange) {
  background: $light-orange;
  border: 2px solid $theme;
}

@mixin btn-white-hover($theme: $light-orange) {
  background: $white;
  border: 2px solid $theme;
}

@mixin ReqResButton($theme: $dark-orange) {
  background-color: $white;
  color: $theme;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 4px;
  border: none;
}
