@import "basic";

.comment-card {
  border: none;
  img {
    width: 80px;
    height: 80px;
    transform: translateX(0px);
  }
}

.comment-card-body {
  background-color: $beige;
  border-radius: 25px;
}

.rating {
  color: $dark-blue;
}
