@import "basic";
@import "react-nice-dates/src/style.scss";
.graph {
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
.dashboard-icon {
  position: absolute;
  border-radius: 5px 20px 20px 5px;
  background-color: #0bb1e4;
  width: 30%;
  height: 100%;
  top: 0;
  padding: 10px;
}

.column {
  position: relative;
}

.chart {
  min-height: 65vh;
}

.dashboard-table {
  min-height: 50vh;
}

.blacklist {
  background-color: black;
  width: 50vw;
  height: 10vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header {
  background-color: $dark-blue;
}

.header-text {
  color: white;
}

.memberResponse-beige {
  background-color: $beige;
  width: 50vw;
}

.btn-blue {
  background-color: $dark-blue;
}
.btn-blue:focus {
  background-color: $dark-blue;
}
.btn-black {
  background-color: black;
  border-color: black;
}
.btn-black:focus {
  background-color: black;
  border-color: black;
}
.btn-black:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.btn-blue:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.memberProfileBottom-black {
  @include memberProfileBottom($theme: black);
}
.dashboard-table {
  min-height: 50vh;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.user-canva {
  width: 70vw;
}

.new-plan {
  width: 150px;
  height: 150px;
}
.new-item {
  width: 150px;
  height: 150px;
}

.admin-footer {
  background-color: $dark-blue;
  border-radius: 1px !important;
}
.admin-modal {
  background-color: $dark-blue;
  border-radius: 100px;
}

.token-link {
  color: $dark-blue;
  font-size: 15px;
}

.redeem-card {
  min-width: 250px;
  height: 350px;
  background-color: $white;
  border: 3px solid $coin;
  border-radius: 15px;
  font-size: $nunito;
  filter: drop-shadow(4px 4px 3px $light-grey);
  transition: 1s ease-in-out;
  cursor: pointer;
  img {
    width: 150px;
    height: 150px;
  }
}

.token-text {
  font-size: large;
}

.wrapper {
  height: 65vh;
  border: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  overflow: auto;
}

.editor {
  min-height: 60vh;
}

.title-bar {
  width: 80vw;
}

.nice-dates-popover {
  box-shadow: none;
  display: grid-ms-grid;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 300px !important;
  transition: none;
  z-index: 100 !important;
}

.admin-offcanva {
  width: 70vw;
}

.admin-slider::-webkit-slider-thumb,
.admin-slider:disabled {
  color: blue !important;
}
.admin-slider {
  width: 30vw;
}
