@import "basic";

.discover-div {
  min-height: 30vh;
  background-color: $beige;
}

.discover-title {
  font: $sora;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 2px;
  color: $dark-blue;
}

.discover-card {
  background-color: $white;
  border: none;
  border-radius: 20px;
  font-family: $nunito;
}

.discover-tagname {
  a {
    @include anchor-text;
    font-size: 16px;
    color: $dark;
  }

  a:hover {
    color: $dark-orange;
  }
}
