@import "basic";

.footer-page {
  min-width: 100vw;
  min-height: 60vh;
  background: $light-orange;
  h3,
  p {
    color: $white;
  }
}

.footer-card {
  background-color: $white;
  border-radius: 20px;
  h3 {
    color: $dark-blue;
  }
}

.btn-dark-blue,
.btn-dark-blue:focus {
  @include btn-color($theme: $dark-blue);
}

.btn-dark-blue:hover,
.btn-dark-blue:focus:hover {
  @include btn-color-hover($theme: $dark-blue);
}

.copyright {
  background-color: $light-orange;
  color: $white;
  text-align: end;
}

.msgModal {
  color: $dark-orange;
}
