@import "basic";

* {
  font-family: $sora;
}

.login-page {
  min-width: 100vw;
  min-height: 60vh;
  background: $white;
}

.login-card {
  background-color: $white;
  border-radius: 20px;
}

.login-form {
  width: 450px;
}

h3 {
  color: $dark-orange;
  font-size: 1.7em;
  letter-spacing: 2px;
}

.form {
  width: 500px;
}

label {
  letter-spacing: 1px;
  font-weight: bold;
}

.btn-orange,
.btn-orange:focus {
  @include btn-color;
}

.btn-orange:hover,
.btn-orange:focus:hover {
  @include btn-color-hover;
}

.input-text {
  border: 2px solid $beige;
  border-radius: 10px;
  width: 100%;
  background-color: $beige;
}

.input-text:focus {
  box-shadow: none;
  border: 2px solid $dark-blue;
  background-color: $white;
}

.err-msg {
  font-size: 15px;
  color: $dark-orange;
}

.custom-modal-style {
  border: none;
  border-radius: 20px;
  min-height: 200px;
  background-color: $white;
}

.success-msg {
  color: $dark;
  font-size: 15px;
  letter-spacing: 2px;
}

.modal-footer {
  border: none;
  background-color: $light-orange;
}

.modal-footer:last-child {
  border-radius: 0 0 20px 20px;
}

.login-hr {
  height: 1px;
  border: 2px solid $dark-orange;
}

.btn-white-lg,
.btn-white-lg:focus {
  width: 100%;
  background: $white;
  color: $dark-orange;
  font-family: $nunito;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 2px;
  border: 2px solid $dark-orange;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  padding: 10px 30px 10px 30px;
  margin: 10px 0px 10px 0px;
}

.btn-white-lg:hover,
.btn-white-lg:focus:hover {
  background-color: $white;
  border: 2px solid $dark-blue;
  color: $dark-blue;
}
