@import "basic";

.memberProfile-title {
  @include heading;
  span {
    font-size: 20px;
    text-transform: uppercase;
    color: $dark-orange;
  }
}

// Member Profile Pic
.memberProfileBg-beige {
  @include memberProfileBg;
}
.memberResponse-beige {
  background-color: $beige;
  width: 50vw;
}
.blacklist {
  background-color: black;
  width: 50vw;
  height: 10vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.memberProfileBg-white {
  @include memberProfileBg($theme: $white);
  height: 15vh;
}

.memberProfilePic-position {
  z-index: 3;
  transform: translateY(25%);
}

.memberProfilePic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

// Member Profile Info
.memberProfileInfo {
  width: 50vw;
  margin-left: 10vw;
  font-size: 15px;
  letter-spacing: 4px;
  color: $dark;
  span.memberName {
    color: $dark-orange;
  }
  span.accountCreation {
    font-size: 12px;
    color: $dark-grey;
  }
}

.heart {
  @include ReqResButton($theme: $heart);
}

.heart:hover {
  @include ReqResButton($theme: $light-heart);
}

.heart-icon {
  font-size: 25px;
}

.REQ {
  @include ReqResButton;
}

.REQ:hover {
  @include ReqResButton($theme: $light-orange);
}

.REQ:disabled {
  @include ReqResButton($theme: $dark-grey);
}

.RES {
  @include ReqResButton($theme: $dark-blue);
}

.RES:hover {
  @include ReqResButton($theme: $light-blue);
}

.RES:disabled {
  @include ReqResButton($theme: $dark-grey);
}

// Member Profile Edit & Report
.memberProfileBottom-orange {
  @include memberProfileBottom;
}

.memberProfileBottom-blue {
  @include memberProfileBottom($theme: $dark-blue);
}

.btn-white-orange,
.btn-white-orange:focus {
  @include btn-white;
}

.btn-white-orange:hover,
.btn-white-orange:focus:hover {
  @include btn-white-hover;
}

.btn-white-blue,
.btn-white-blue:focus {
  @include btn-white($theme: $dark-blue);
}

.btn-white-blue:hover,
.btn-white-blue:focus:hover {
  @include btn-white-hover($theme: $light-blue);
}

// Member Req / Res Collapse
.memberProfileMiddie-beige {
  background-color: $beige;
  height: 5vh;
  button {
    background-color: $beige;
    color: $dark-orange;
    font-weight: bolder;
    border: none;
    &:hover {
      color: $light-orange;
    }
  }
}

.memberProfileMiddle-orange {
  @include memberProfileMiddle;
}

.memberProfileMiddle-blue {
  @include memberProfileMiddle($theme: $dark-blue, $theme2: $light-blue);
}

.memberProfileMiddle-heart {
  @include memberProfileMiddle($theme: $heart, $theme2: $heart);
}

// Member go back button
.btn-goback,
.btn-goback:focus {
  background: $white;
  color: $dark-grey;
  font-family: $nunito;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: none;
}

.btn-goback:hover,
.btn-goback:focus:hover {
  background: $white;
  color: $dark;
}
