@import "basic";

.navbar {
  background-color: $light-orange;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  div {
    @include flex;
    color: $white;
    letter-spacing: 2px;
  }
}

.navbar > div {
  width: 100%;
  color: $white;
  letter-spacing: 2px;
}

.nav-logo {
  font-family: $sora;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  letter-spacing: 4px;
  -webkit-text-stroke: 1.5px $white;
  -webkit-font-smoothing: antialiased;
}

.nav-logo:hover {
  color: $white;
}

.navitems {
  a {
    @include anchor-text;
  }
  a:hover {
    color: $light-grey;
  }
  span {
    @include anchor-text;
  }
}

.nav-search {
  width: 100%;
  background-color: $white;
  font-size: 15px;
  font-family: $sora;
  border: 2px solid $white;
  border-radius: 20px;
  padding: 1px 15px 1px 15px;
  margin: 0px 10px 0px 10px;
}

.nav-search:focus {
  box-shadow: none;
  border: 2px solid $dark-blue;
}
