@import "basic";

.new-req-modal {
  min-width: 600px;
}

.new-req-heading {
  font-family: $sora;
  color: $dark-orange;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.new-req-form {
  font-size: 15px;
}

.new-req-modal-footer {
  border: none;
  background-color: $white;
}

.new-req-modal-footer:last-child {
  border-radius: 0 0 20px 20px;
}

.btn-dark-orange,
.btn-dark-orange:focus {
  @include btn-color;
}

.btn-dark-orange:hover,
.btn-dark-orange:focus:hover {
  @include btn-color;
}

.btn-dark-grey,
.btn-dark-grey:focus {
  @include btn-color($theme: $dark-grey);
}

.btn-dark-grey:hover,
.btn-dark-grey:focus:hover {
  @include btn-color($theme: $dark);
}

.new-req-coin,
.new-req-people,
.new-req-district {
  padding-top: 7px;
  padding-left: 4px;
}

.errMsg {
  color: $bookmark-true;
}
