@import "basic";

.new-req-modal {
  min-width: 600px;
}

.new-req-heading {
  font-family: $sora;
  color: $dark-orange;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}

.new-req-form {
  font-size: 13px;
}

.new-req-modal-footer {
  border: none;
  background-color: $white;
}

.new-req-modal-footer:last-child {
  border-radius: 0 0 20px 20px;
}

.previewPhoto-request {
  width: 250px;
  height: 250px;
}

.smallphoto {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.smallphoto:hover {
  transform: scale(1.1);
}

.btn-dark-orange,
.btn-dark-orange:focus {
  @include btn-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn-dark-orange:hover,
.btn-dark-orange:focus:hover {
  @include btn-color-hover;
}

.new-req-coin,
.new-req-people,
.new-req-district {
  padding-top: 7px;
  padding-left: 4px;
}

.errMsg {
  color: $bookmark-true;
}
