@import "basic";

.request-detail-card {
  background-color: $white;
  max-width: 900px;
  height: auto;
  border-radius: 20px 20px 0 0;
  border: none;
}

.request-photo {
  position: relative;
  max-height: 500px;
  width: auto;
  border-radius: 20px 0 0 0;
  overflow: hidden;
  img {
    height: 23em;
    width: 23em;
    top: 0;
    left: 0;
  }
}

.request-main {
  background-color: $beige;
  border-radius: 0 20px 0 0;
}

.requester-username {
  color: $dark-orange;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.requester-id {
  color: $dark-orange;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.requester-username:hover,
.requester-id:hover {
  color: $dark-blue;
}

.request-detail-createdAt {
  color: $dark-grey;
  letter-spacing: 2px;
  font-size: 13px;
}

.request-detail-detail {
  color: $dark;
  letter-spacing: 1px;
  font-size: 13px;
  overflow-y: scroll;
  height: 160px;
}

.request-detail-title {
  color: $dark;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.request-detail-tag {
  color: $dark-orange;
  overflow-x: scroll;
  overflow: hidden;
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 2px;
}

.request-detail-tag-search:hover {
  color: $dark-blue;
}

.request-detail-tag-search {
  cursor: pointer;
}

.request-detail-bottom {
  font-size: 13px;
  position: absolute;
}

.bookmark-icon-true {
  color: $bookmark-true;
  cursor: pointer;
}

.bookmark-icon-false {
  color: $bookmark-false;
  cursor: pointer;
}

.req-detail-nav {
  width: 100%;
  background-color: $white;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  span {
    font-family: $nunito;
    font-weight: bolder;
  }
}

.req-detail-nav-res {
  color: $dark-blue;
  cursor: pointer;
}

.req-detail-nav-join {
  color: $dark-grey;
  cursor: pointer;
}

.req-detail-nav-join:hover {
  color: $dark-blue;
  cursor: pointer;
}

.req-detail-nav-joined {
  color: $dark-blue;
  cursor: pointer;
}

.req-detail-nav-comment,
.req-detail-nav-matched {
  color: $dark-blue;
  cursor: pointer;
}

.req-detail-nav-locked {
  color: $dark-grey;
}

.request-detail-footer {
  border: none;
}

.request-detail-footer:last-child {
  border-radius: 0 0 20px 20px;
}

.input-message {
  border: 2px solid $white;
  border-radius: 20px;
  width: 100%;
  background-color: $white;
}

.input-message:focus {
  box-shadow: none;
  border: 2px solid $white;
  background-color: $white;
}

.requset-detail-cmres {
  background-color: $beige;
  overflow-y: scroll;
  max-height: 500px;
}

.btn-white-orange-sm,
.btn-white-orange-sm:focus {
  background: $white;
  color: $dark-orange;
  font-family: $nunito;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: 2px solid $dark-orange;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  padding-left: 35px;
  padding-right: 35px;
}

.btn-white-orange-sm:hover,
.btn-white-orange-sm:focus:hover {
  background: $white;
  color: $dark-blue;
  border: 2px solid $dark-orange;
}

.btn-white-blue-sm,
.btn-white-blue-sm:focus {
  background: $white;
  color: $dark-blue;
  font-family: $nunito;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: 2px solid $dark-blue;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
  padding-left: 35px;
  padding-right: 35px;
}

.btn-white-blue-sm:hover,
.btn-white-blue-sm:focus:hover {
  background: $white;
  color: $dark-orange;
  border: 2px solid $dark-blue;
}

.response-form {
  width: 600px;
}

.response-ta {
  border: none;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 20px;
}

.response-ta:focus {
  box-shadow: none;
  background-color: $white;
  border: 2px solid $dark-blue;
}

.response-heading {
  @include heading;
  font-family: $nunito;
  font-weight: bolder;
}

.response-matching-bg {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: hsla(205, 20%, 88%, 0.226);
}

.response-matching-msg {
  transform: translateX(100px);
}

.response-matching-helper {
  font-size: 13px;
  font-family: $nunito;
  font-weight: bold;
  letter-spacing: 1px;
}
