@import "basic";

.request-detail-card {
  background-color: $white;
  max-width: 900px;
  height: auto;
  border-radius: 20px 20px 0 0;
  border: none;
}

.request-photo {
  position: relative;
  max-height: 500px;
  width: auto;
  border-radius: 20px 0 0 0;
  img {
    height: 23em;
    width: 23em;
    top: 0;
    left: 0;
  }
}

.request-main {
  background-color: $beige;
  border-radius: 0 20px 0 0;
}

.requester-username {
  color: $dark-blue;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.requester-id {
  color: $dark-orange;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.request-detail-createdAt {
  color: $dark;
  letter-spacing: 2px;
  font-size: 15px;
}

.request-detail-detail {
  color: $dark;
  letter-spacing: 2px;
  font-size: 15px;
  height: 80px;
  overflow-y: scroll;
  height: 38%;
}

.request-detail-title {
  color: $dark;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.request-detail-tag {
  color: $dark-orange;
  font-weight: bolder;
  font-size: 15px;
  letter-spacing: 2px;
}

.request-detail-footer {
  font-size: 15px;
}

.request-detail-tag-search {
  cursor: pointer;
}

.bookmark-icon-true {
  color: $bookmark-true;
  cursor: pointer;
}

.bookmark-icon-false {
  color: $bookmark-false;
  cursor: pointer;
}
