@import "basic";

.new-review-modal {
  min-width: 650px;
}

.new-review-heading {
  font-family: $sora;
  color: $dark-blue;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

.new-review-subtitle {
  font-family: $sora;
  color: $dark;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.review-card {
  border: none;
  img {
    width: 90px;
    height: 90px;
    transform: translateX(0px);
  }
}

.review-card-body {
  background-color: $beige;
  border-radius: 25px;
  input[type="range"] {
    width: 200px;
  }
  textarea {
    width: 420px;
  }
}

.new-review-modal-footer {
  border: none;
  background-color: $white;
}

.btn-dark-grey,
.btn-dark-grey:focus {
  @include btn-color($theme: $dark-grey);
}

.btn-dark-grey:hover,
.btn-dark-grey:focus:hover {
  @include btn-color-hover($theme: $dark);
}

.btn-dark-blue,
.btn-dark-blue:focus {
  @include btn-color($theme: $dark-blue);
}

.btn-dark-blue:hover,
.btn-dark-blue:focus:hover {
  @include btn-color-hover($theme: $light-blue);
}
